># EDA (Exploratory Data Analysis) llamadas 123 julio

In [3]:
# importar librerias de manipulacion de datos
import numpy as np
import pandas as pd

# importar librerias del sistema
import os
from pathlib import Path

In [4]:
root_dir = Path(".").resolve().parent
print('root dir:', root_dir)

root dir: /home/jupyter/ESEIT-BigData

In [9]:
filename= "llamadas123_julio_2022.csv"
#file_path = os.path.join(root_dir, "data",data_dir, filename)
dir_data = os.path.join('gs://jsanchez_bucket_llamadas123', "data","raw")
print(dir_data)

gs://jsanchez_bucket_llamadas123/data/raw

In [10]:
data = pd.read_csv(
    os.path.join(dir_data, filename),
    sep=';', 
    encoding='latin-1',)
data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [11]:
data.shape #retorna una tupla con las dimensiones de la tabla: (n_rows, n_cols)

(13055, 11)

In [12]:
data.dtypes

NUMERO_INCIDENTE                     object
FECHA_INICIO_DESPLAZAMIENTO_MOVIL    object
CODIGO_LOCALIDAD                      int64
LOCALIDAD                            object
EDAD                                 object
UNIDAD                               object
GENERO                               object
RED                                  object
TIPO_INCIDENTE                       object
PRIORIDAD                            object
RECEPCION                            object
dtype: object

In [13]:
# Extraer los valores unicos de las columnas

col = 'GENERO'
valores_unicos = data[col].unique()
len( valores_unicos )

3

In [14]:
# Craer unn diccionario vacio
dict_resume= dict()

for col in data.columns:
    valores_unicos = data[col].unique()
    n_valores = len(valores_unicos)
    #print(col, n_valores)
    dict_resume[col] = n_valores

In [15]:
df_resumen = pd.DataFrame.from_dict(dict_resume, orient='index')
df_resumen.rename({0: 'Count'}, axis=1, inplace=True)
df_resumen

                                   Count
NUMERO_INCIDENTE                   12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL  12781
CODIGO_LOCALIDAD                      20
LOCALIDAD                             20
EDAD                                 100
UNIDAD                                 6
GENERO                                 3
RED                                    5
TIPO_INCIDENTE                        21
PRIORIDAD                              4
RECEPCION                           5235

In [17]:
#Guardar la tabla

out_name = 'resumen_' + filename
out_path = os.path.join(root_dir, 'data', 'processed', out_name)
#print(out_path)

df_resumen.to_csv(out_path)