# EDA limpieza de datos

In [1]:
# importar librerias de manipulacion de datos
import numpy as np
import pandas as pd

# importar librerias del sistema
import os
from pathlib import Path

#root_dir = Path(".").resolve().parent
#print('root dir:', root_dir)
bucket = "gs://jsanchez_bucket_llamadas123"

filename = "llamadas123_julio_2022.csv"
data_dir = "raw"

file_path = os.path.join(bucket, "data", data_dir, filename)

data = pd.read_csv(file_path, encoding='latin-1', sep=';')

In [2]:
data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

# Registros Duplicados

In [3]:
print('Forma inicial', data.shape)

data = data.drop_duplicates()    # elimina los registros duplicados, dejando solo el primer registro

print('Forma final', data.shape)

Forma inicial (13055, 11)
Forma final (13026, 11)

In [4]:
# Esquema de la tabla
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13018 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.2+ MB

In [8]:
data['UNIDAD'].value_counts(dropna=False,normalize=False) # realiza un conteo de los diferentes valores

A¤os        6781
SIN_DATO    6187
Meses         39
NaN            8
Horas          6
Dias           5
Name: UNIDAD, dtype: int64

In [10]:
# reemplace en la columna UNIDAD los nulos por SIN_DATO
data['UNIDAD'].fillna('SIN_DATO').value_counts(dropna=True)

A¤os        6781
SIN_DATO    6195
Meses         39
Horas          6
Dias           5
Name: UNIDAD, dtype: int64

In [11]:
data['UNIDAD'] = data['UNIDAD'].fillna('SIN_DATO')
# sobreescribo la columna UNIDAD que tenia valores nulos por una columna nueva sin nulos

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.2+ MB

In [13]:
# Manipulacion fechas (datetime)
col = 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
data[col].max()

'2022-08-08 11:23:01'

In [14]:
# aplicar filtros
val_min = data[col].min()
data[data[col] == val_min] # aplico el filtro

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
13054,CRU-00312775-22,0000-00-00 00:00:00,9,Fontib¢n,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Accidente Cerebro Vascular,ALTA,0000-00-00 00:00:00

In [15]:
data[data[col] != val_min]

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29
...,...,...,...,...,...,...,...,...,...,...,...
13049,CRU-00314021-22,2022-08-02 03:25:08,14,Los M rtires,SIN_DATO,SIN_DATO,SIN_DATO,Centro Oriente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00
13050,CRU-00314021-22,2022-08-08 05:31:48,14,Los M rtires,18,A¤os,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,8/08/2022 6:48
13051,CRU-00314021-22,2022-08-08 10:38:32,14,Los M rtires,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00
13052,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,11,A¤os,MASCULINO,Centro Oriente,Acompa¤amiento Evento,BAJA,9/08/2022 13:13
13053,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,19,A¤os,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00

In [16]:
# Formato de fechas (datetime)
data[col] = pd.to_datetime(data[col], errors='coerce')

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 1.2+ MB

In [18]:
from dateutil.parser import parse

parse('08/02/2021')
# pd.to_datetime(data['RECEPCION'], errors='coerce', format='%Y-%m-%d %H:%M:%S')

datetime.datetime(2021, 8, 2, 0, 0)

In [19]:
parse('08-may-2021 5:30:43')

datetime.datetime(2021, 5, 8, 5, 30, 43)

In [20]:
# una funcion que reciba un string, con fechas y regrese un valor en datetime usando parse
def convertir_formato_fecha(str_fecha):
    val_datetime = parse(str_fecha, dayfirst=True, yearfirst=False)
    return val_datetime

In [21]:
data = data.reset_index()

In [22]:
list_fechas = list()
n_filas = data.shape[0]   
#n_filas =  len(data['RECEPCION'])
for i in range(0, n_filas):

    str_fecha = data['RECEPCION'][i]
    
    try:
        val_datetime = convertir_formato_fecha(str_fecha=str_fecha)
        list_fechas.append(val_datetime)
    except Exception as e:
        # print(i, e)
        list_fechas.append(str_fecha)
        continue

In [23]:
data['RECEPCION_CORREGIDA'] = list_fechas

In [24]:
data['RECEPCION_CORREGIDA'] = pd.to_datetime(data['RECEPCION_CORREGIDA'], errors='coerce')

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   index                              13026 non-null  int64
 1   NUMERO_INCIDENTE                   13026 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 3   CODIGO_LOCALIDAD                   13026 non-null  int64
 4   LOCALIDAD                          13026 non-null  object
 5   EDAD                               13026 non-null  object
 6   UNIDAD                             13026 non-null  object
 7   GENERO                             13026 non-null  object
 8   RED                                13026 non-null  object
 9   TIPO_INCIDENTE                     13026 non-null  object
 10  PRIORIDAD                          13026 non-null  object
 11  RECEPCION                          13026 non-null  object
 12  RECEPCION_CORREGIDA                5259 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(9)
memory usage: 1.3+ MB

# Consistencia de los datos

In [26]:
data['EDAD'].value_counts(dropna=False)

SIN_DATO    6187
23           150
22           140
30           134
27           134
            ...
7             17
98            16
9             15
8             14
97            12
Name: EDAD, Length: 100, dtype: int64

In [27]:
# reemplazar SIN_DATO por un nulo de tipo numerico
# data['EDAD'].replace({'SIN_DATO' : np.nan}).value_counts(dropna=False)

data['EDAD'] = data['EDAD'].replace({'SIN_DATO' : np.nan})

In [28]:
# funciones lambda

# x = np.nan
x = '5'
f = lambda x: x if pd.isna(x) == True else int(x)

f(x)

5

In [29]:
data['EDAD'] = data['EDAD'].apply(f)

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   index                              13026 non-null  int64
 1   NUMERO_INCIDENTE                   13026 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 3   CODIGO_LOCALIDAD                   13026 non-null  int64
 4   LOCALIDAD                          13026 non-null  object
 5   EDAD                               6839 non-null   float64
 6   UNIDAD                             13026 non-null  object
 7   GENERO                             13026 non-null  object
 8   RED                                13026 non-null  object
 9   TIPO_INCIDENTE                     13026 non-null  object
 10  PRIORIDAD                          13026 non-null  object
 11  RECEPCION                          13026 non-null  object
 12  RECEPCION_CORREGIDA                5259 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(8)
memory usage: 1.3+ MB

In [31]:
word = '  BigData   '
print(word, word.lower().strip(), word.upper().strip(), word.strip() )

  BigData    bigdata BIGDATA BigData

In [32]:
data['LOCALIDAD'].apply(lambda x: x.strip()).value_counts()

Kennedy               1740
Suba                  1323
Engativ               1304
Bosa                  1065
Ciudad Bol¡var        1009
Puente Aranda          742
Fontib¢n               670
Usaqun                667
Rafael Uribe Uribe     601
Usme                   597
San Crist¢bal          595
Chapinero              507
Tunjuelito             391
Barrios Unidos         389
Los M rtires           379
Teusaquillo            361
Santa Fe               356
Antonio Nari¤o         244
La Candelaria           85
Sumapaz                  1
Name: LOCALIDAD, dtype: int64

In [18]:
# Reemplaza localidad

df = pd.DataFrame(data,columns=['CODIGO_LOCALIDAD','LOCALIDAD'])

df.loc[df['CODIGO_LOCALIDAD']==1,'LOCALIDAD']='Usaquen'
df.loc[df['CODIGO_LOCALIDAD']==2,'LOCALIDAD']='Chapinero'
df.loc[df['CODIGO_LOCALIDAD']==3,'LOCALIDAD']='Santa Fe'
df.loc[df['CODIGO_LOCALIDAD']==4,'LOCALIDAD']='San Cristobal'
df.loc[df['CODIGO_LOCALIDAD']==5,'LOCALIDAD']='Usme'
df.loc[df['CODIGO_LOCALIDAD']==6,'LOCALIDAD']='Tunjuelito'
df.loc[df['CODIGO_LOCALIDAD']==9,'LOCALIDAD']='Fontibon'
df.loc[df['CODIGO_LOCALIDAD']==14,'LOCALIDAD']='Los Martires'

print(data['LOCALIDAD'].unique())

print(df)

['Suba' 'Rafael Uribe Uribe' 'Ciudad Bol¡var' 'Usaqu\x82n' 'La Candelaria'
 'Antonio Nari¤o' 'San Crist¢bal' 'Teusaquillo' 'Kennedy' 'Usme' 'Bosa'
 'Tunjuelito' 'Engativ\xa0' 'Los M\xa0rtires' 'Fontib¢n' 'Chapinero'
 'Puente Aranda' 'Santa Fe' 'Barrios Unidos' 'Sumapaz']
       CODIGO_LOCALIDAD           LOCALIDAD
0                    11                Suba
1                    11                Suba
2                    18  Rafael Uribe Uribe
3                    19      Ciudad Bol¡var
4                     1             Usaquen
...                 ...                 ...
13050                14        Los Martires
13051                14        Los Martires
13052                10            Engativ
13053                10            Engativ
13054                 9            Fontibon

[13055 rows x 2 columns]